.details h3{
    margin-bottom: 0.6em;

}
.details h4{
    margin-bottom: 1em;
}
.details p{
    margin-left: 0.5em;
}
.graduationDetails{
    font-size: 1rem;
    display: flex;
}
.skillCard{
 
    border: 1px solid #ffffff;
    padding: 0.5em;
    background-color: #accbee;
    border-radius: 20px;
    margin: 0.3em;
}
.skillItem{
    width:60%;
    display: flex;
    flex-wrap: wrap;
}
.skillCard p{
    display: inline;

}
@media (max-width:620px){
    .details{
        font-size: 0.7rem;
    }
    .graduationDetails{
        font-size: 0.75rem;
    }
    .skillCard{
        font-size: 0.6rem;
    }
    .skillItem{
        width: 100%;
    }
}