.container{
    height: 100vh;
    font-size: 1rem;
} 
.topCard{
    background-color: #accbee;
    height: 14.133em;
    width: 100%;
    border-radius: 10px;
}
.topCard img{
    height: 14.133em;
    width: 100%;
    border-radius: 10px;

}
.profilePic{
    background-color: #ccc;
    height:9.375em;
    width: 9.375em;
    border-radius: 700px;
    left: 35px;
    bottom: 40px;
    position: relative;
    border: 8px solid white;

}
.profilePic img{
    height:9.375em;
    width: 9.375em;
    border-radius: 700px;
}
.heading{
    display: flex;
    
}
.naming{
    margin-left:4em;
    margin-top: 2em;

}
.naming p{
    font-size: 0.87rem;
    opacity: 0.65;
}em
.naming h2{
    font-size: 1.8rem;
}
.bio{
    width:80%;
    font-size: 1rem;
    margin-bottom: 1em;
    
}
hr{
    width: 40%;
    margin: auto;
    border-bottom:0 ;
    border-color:#accbee;
    margin-bottom: 1em;
    opacity: 0.22;
}
@media (max-width:620px){

   .heading{
    flex-direction: column;
    font-size: 0.65rem;
    
   }
   .heading p{
    font-size: 0.55rem;
   }
   .naming{
    margin: 0;
    margin-bottom: 0.5em;
   }
   .bio{
    font-size: 0.58rem;
   }
   hr{
    margin-bottom: 0;
   }
}
