.iconName{
    font-size: small;
    text-align: center;
    color:white;
    text-decoration: none;
}
.logout_btn{
    text-decoration: none;
}
@media (max-width:620px){
    .iconName{
        font-size: 0.55rem;
        margin: 0;
        text-align: center;
    }

}